* {
	box-sizing: border-box;
}

html,
body{
	margin: 0;
	padding: 0;
}
body{
	background-color: #fff;
	color: #000;
	font-family: 'Roboto', sans-serif, Arial, Verdana;
}

.main {
	display: flex;
	justify-content: space-between;
	width: 800px;
	margin: 50px auto;
}
/* left and rigth operand */
.forAll {
	font-size: 5em;
	font-weight: bold;
}
/* style for class answer */
.answer {
	border: 1px solid green;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	width: 500px;
	margin: 50px auto;
}
.item {
	width: 130px;
	height: 130px;
	border: 1px solid #ccc;
}
.item2 {
	background-color: yellow;
}
.item4 {
	background-color: green;
}
.item6 {
	background-color: pink;
}
.item8 {
	background-color: blue;
}
